<!--<h1>Matchup#index</h1>
<p>Find me in app/views/matchup/index.html.erb</p>
<table>
    <tr><td>Access Token</td><td><%= @access_token %> </td></tr>
    <tr><td>User Id</td><td><%= @user_id %></td></tr>
    <tr><td>League Id</td><td><%= @league_id %></td></tr>
</table>
-->
<script type="text/javascript">
    var c = {};
    var dragId;

    var teamRoster = <%= @team_roster_json.html_safe %>;
    var playerList = <%= @player_list_json.html_safe %>;

    // template for converting team roster defined as a JSON array into an html table for display on the
    // IE matchup app main page
    var plt = jsontemplate.Template("{#template defining table of players on fantasy team roster} \
         <table id=\"roster_matchups\" class=\"player_matchups\" cellpadding=\"2\" cellspacing=\"0\">    \
         <tbody>                                                                                 \
            {.section batters} \
                <tr class=\"player_type_title\"><td colspan='5'>Batters</td></tr>                            \
                <tr class=\"player_matchups_header\"><th>Pos</th><th>Player</th><th>Opponent</th><th>Rating</th><th>Analysis</th></tr> \
                {.repeated section @}                                                                      \
                    <tr id={id} class=\"player\">                                                         \
                        <td>{roster_pos}</td>                                                              \
                        <td class=\"player_name_cell\"><a href=\"{profile_url}\">{name}</a><br>({mlb_pos}){mlb_team}</td>               \
                        <td>{opponent}</td>                                                                \
                        <td>{rating}</td>                                                                  \
                        <td>{analysis}</td></tr>                                                           \
                {.end}                                                                                     \
            {.end}                                                                                         \
            {.section bench_batters} \
               <tr class=\"matchup_table_spacer_row\"><td colspan='5'></td></tr>                          \
                {.repeated section @}                                                                      \
                    <tr id={id} class=\"player\">                                                         \
                        <td>Bench({roster_pos})</td>                                                              \
                        <td class=\"player_name_cell\"><a href=\"{profile_url}\">{name}</a><br>({mlb_pos}){mlb_team}</td>               \
                        <td>{opponent}</td>                                                                \
                        <td>{rating}</td>                                                                  \
                        <td>{analysis}</td></tr>                                                           \
                {.end}                                                                                     \
                <tr style=\"display:none;\" class=\"empty_bench_batter\"><td>Bench</td><td>Empty</td><td> </td><td></td><td></td></tr>         \
            {.end}                                                                                         \
            {.section pitchers}                                                                            \
                <tr class=\"matchup_table_spacer_row\"><td colspan='5'></td></tr>                          \
                <tr class=\"player_type_title\"><td colspan='5'>Pitchers</td></tr>                         \
                <tr class=\"player_matchups_header\"><th>Pos</th><th>Player</th><th>Opponent</th><th>Rating</th><th>Analysis</th></tr> \
                {.repeated section @}                                                                      \
                    <tr id={id} class=\"player\">                                                         \
                        <td>{roster_pos}</td>                                                              \
                        <td class=\"player_name_cell\"><a href=\"{profile_url}\">{name}</a><br>({mlb_pos}){mlb_team}</td>             \
                        <td>{opponent}</td>                                                                \
                        <td>{rating}</td>                                                                  \
                        <td>{analysis}</td></tr>                                                           \
                {.end}                                                                                     \
            {.end}                                                                                         \
            {.section bench_pitchers} \
               <tr class=\"matchup_table_spacer_row\"><td colspan='5'></td></tr>                          \
                {.repeated section @}                                                                      \
                    <tr id={id} class=\"player\">                                                         \
                        <td>Bench({roster_pos})</td>                                                              \
                        <td class=\"player_name_cell\"><a href=\"{profile_url}\">{name}</a><br>({mlb_pos}){mlb_team}</td>               \
                        <td>{opponent}</td>                                                                \
                        <td>{rating}</td>                                                                  \
                        <td>{analysis}</td></tr>                                                           \
                {.end}           \
                <tr style=\"display:none;\" class=\"empty_bench_pitcher\"><td>Bench</td><td>Empty<br>&nbsp;</td><td> </td><td></td><td></td></tr>         \
            {.end}                                                                                         \
         </tbody> </table>" );

    function createRosterMatchupTable()
  {
      var mut = plt.expand(playerList);
      document.getElementById("roster").innerHTML = mut;
      $("tr.player").draggable( {
          helper: "clone",
          start:  startDrag,
          stop: stopDrag
      });
  }

  function enableDropOnEligiblePlayers( players, id, pos, tr_offset) {
      for (var i = 0; i < players.length; i++ ) {
          //console.log("Player: " + players[i].name + " eligible: " + players[i].eligible.toString());
          if ( players[i].eligible.indexOf(pos) != -1 ) {
              console.log("Row: " + i + " Player: " + players[i].name + " is eligible.");
              trow = i + tr_offset;
              if(players[i].id == id) {
                  $("#roster_matchups tr").eq(trow).addClass("selected_roster_row");
              } else {
                  $("#roster_matchups tr").eq(trow).droppable({
                      drop: dropPlayer
                  } );
                  $("#roster_matchups tr").eq(trow).addClass("valid_roster_move_row");
              }
          }
      }
  }

  function enableDropOnEmptyBenchBatter( ) {
    var emptyBenchSlot = $("#roster_matchups tr.empty_bench_batter");
    emptyBenchSlot.removeAttr("style");
    emptyBenchSlot.droppable( { drop: dropPlayer
                              });
    emptyBenchSlot.addClass("valid_roster_move_row");
  }

  function startDrag(event, ui) {
      c.tr = this;
      c.helper = ui.helper;
      dragId = $(this).attr('id');

      var section = teamRoster[dragId].section;
      var idx = teamRoster[dragId].idx;
      var movePos = teamRoster[dragId].roster_pos;
      console.log("id: " + dragId + " section: " + section + "idx: " + idx + " Position: " + movePos);
      if ( movePos != "P") {
          enableDropOnEligiblePlayers(playerList.batters, dragId, movePos, 2);
          enableDropOnEligiblePlayers(playerList.bench_batters, dragId, movePos, playerList.batters.length + 3);
          enableDropOnEmptyBenchBatter();
      } else {
          //enableDropOnEligiblePlayers(playerList.pitchers, dragId, movePos,
          //        playerList.batters.length + playerList.bench_batters.length + 6);
          enableDropOnEligiblePlayers(playerList.bench_pitchers, dragId, movePos,
                  playerList.batters.length + playerList.bench_batters.length +
                          playerList.pitchers.length + 7);
          enableDropOnEmptyBenchPitcher();
      }
  }

  function stopDrag(event, ui) {
      var stopId = $(this).attr('id');
      console.log("dragging stopped.  dragId: " + dragId + "stopRow: " + stopId)
      $("#roster_matchups").remove();
      createRosterMatchupTable();
  }

  function dropPlayer(event, ui) {
      var dropId= $(this).attr('id')
      var dropSection = teamRoster[dropId].section;
      var dropIdx = teamRoster[dropId].idx;
      var dropPos = teamRoster[dropId].roster_pos;
      var section = teamRoster[dragId].section;
      var idx = teamRoster[dragId].idx;
      var movePos = teamRoster[dragId].roster_pos;
      console.log("DRAG: id: " + dragId + " section: " + section + " idx: " + idx + "  Position: " + movePos);
      console.log("DROP: id: " + dropId + " section: " + dropSection + " idx: " + dropIdx + "  Position: " + dropPos);

      teamRoster[dropId].section = section;
      teamRoster[dropId].idx = idx;
      teamRoster[dropId].roster_pos = movePos;
      playerList[section][idx] = teamRoster[dropId];

      teamRoster[dragId].section = dropSection;
      teamRoster[dragId].idx = dropIdx;
      teamRoster[dragId].roster_pos = dropPos;
      playerList[dropSection][dropIdx] = teamRoster[dragId];

      $(c.helper).remove();
      $("#roster_matchups").remove();
      createRosterMatchupTable();
  }


  $(document).ready(function() {
      createRosterMatchupTable();

    } );

</script>

<header>
  <table>
    <tr><td> <%= image_tag("inside_edge_logo.jpg", :size => '75x75', :alt => 'Inside Edge Scouting Service') %></td>
      <td><h1>Inside Edge Matchup Analysis</h1></td></tr>
  </table>
  <hr/>
</header>

<div class="teams">
  <table class="league_team_links">  <tr>
    <% @teams.each do |team| %>
        <td><a href="<%= "/matchup/#{team["id"]}?access_token=#{@access_token}?response_format=json" %>"><%= team["name"] %></a></td>
    <% end %>
  </tr>
  </table>
</div>
<div id='players' class="player_matchups">
  <table class="roster_matchups_team">
    <tr><td><h3><%= "#{@roster[0]["name"]}" %></h3></td><td><h3>Matchups For Game Day: 6/8/2012</h3></td></tr>
  </table>

<div id='roster' class="player_matchups">

</div>

</div>