<!--<h1>Matchup#index</h1>
<p>Find me in app/views/matchup/index.html.erb</p>
<table>
    <tr><td>Access Token</td><td><%= @access_token %> </td></tr>
    <tr><td>User Id</td><td><%= @user_id %></td></tr>
    <tr><td>League Id</td><td><%= @league_id %></td></tr>
</table>
-->
<script type="text/javascript">
    var c = {};
    var dragId;

    var teamRoster = <%= @team_roster_json.html_safe %>;
    var playerList = <%= @player_list_json.html_safe %>;

    // template for converting team roster defined as a JSON array into an html table for display on the
    // IE matchup app main page
    var plt = jsontemplate.Template("{#template defining table of players on fantasy team roster} \
         <table id=\"roster_matchups\" class=\"player_matchups\" cellpadding=\"2\" cellspacing=\"0\">    \
         <tbody>                                                                                 \
            {.section batters} \
                <tr class=\"player_type_title\"><td colspan='5'>Batters</td></tr>                            \
                <tr class=\"player_matchups_header\"><th>Pos</th><th>Player</th><th>Opponent</th><th>Rating</th><th>Analysis</th></tr> \
                {.repeated section @}                                                                      \
                    {.empty?}\
                      <tr id={idx} class=\"empty {position}\">                                                         \
                        <td>{position}</td>                                                              \
                        <td class=\"player_name_cell\"><em>{player.name}</em><br>&nbsp;</td>               \
                        <td>{player.opponent}</td>                                                                \
                        <td>{player.rating}</td>                                                                  \
                        <td>{player.analysis}</td></tr>     \
                    {.or}\
                      <tr id={idx} class=\"player {position}\">                                                         \
                        <td>{position}</td>                                                              \
                        <td class=\"player_name_cell\"><a href=\"{player.profile_url}\">{player.name}</a><br>({player.mlb_pos}){player.mlb_team}</td>               \
                        <td>{player.opponent}</td>                                                                \
                        <td>{player.rating}</td>                                                                  \
                        <td>{player.analysis}</td></tr>                                                           \
                    {.end} \
                {.end}                                                                                     \
            {.end}                                                                                         \
            {.section bench_batters} \
               <tr class=\"matchup_table_spacer_row\"><td colspan='5'></td></tr>                          \
                {.repeated section @}\
                   <tr id={idx} class=\"player {position}\">                                                         \
                        <td>Bench({player.roster_pos})</td>                                                              \
                        <td class=\"player_name_cell\"><a href=\"{player.profile_url}\">{player.name}</a><br>({player.mlb_pos}){player.mlb_team}</td>               \
                        <td>{player.opponent}</td>                                                                \
                        <td>{player.rating}</td>                                                                  \
                        <td>{player.analysis}</td></tr>                                                           \
                    {.end} \
                <tr id=\"empty_batter\" style=\"display:none;\" class=\"empty_bench_batter\"><td>Bench</td><td><em>EMPTY</em><br>&nbsp;</td><td> </td><td></td><td></td></tr>         \
            {.end}                                                                                         \
            {.section pitchers}                                                                            \
                <tr class=\"matchup_table_spacer_row\"><td colspan='5'></td></tr>                          \
                <tr class=\"player_type_title\"><td colspan='5'>Pitchers</td></tr>                         \
                <tr class=\"player_matchups_header\"><th>Pos</th><th>Player</th><th>Opponent</th><th>Rating</th><th>Analysis</th></tr> \
                {.repeated section @}                                                                      \
                    {.empty?}\
                      <tr id={idx} class=\"empty {position}\">                                                         \
                        <td>{position}</td>                                                              \
                        <td class=\"player_name_cell\"><em>{player.name}</em><br>&nbsp;</td>               \
                        <td>{player.opponent}</td>                                                                \
                        <td>{player.rating}</td>                                                                  \
                        <td>{player.analysis}</td></tr>     \
                    {.or}\
                      <tr id={idx} class=\"player {position}\">                                                         \
                        <td>{position}</td>                                                              \
                        <td class=\"player_name_cell\"><a href=\"{player.profile_url}\">{player.name}</a><br>({player.mlb_pos}){player.mlb_team}</td>             \
                        <td>{player.opponent}</td>                                                                \
                        <td>{player.rating}</td>                                                                  \
                        <td>{player.analysis}</td></tr>                                                           \
                    {.end}\
                {.end}                                                                                     \
            {.end}                                                                                         \
            {.section bench_pitchers} \
               <tr class=\"matchup_table_spacer_row\"><td colspan='5'></td></tr>                          \
                {.repeated section @}                                                                      \
                    <tr id={idx} class=\"player {position}\">                                                         \
                        <td>Bench({player.roster_pos})</td>                                                              \
                        <td class=\"player_name_cell\"><a href=\"{player.profile_url}\">{player.name}</a><br>({player.mlb_pos}){player.mlb_team}</td>               \
                        <td>{player.opponent}</td>                                                                \
                        <td>{player.rating}</td>                                                                  \
                        <td>{player.analysis}</td></tr>                                                           \
                {.end}           \
                <tr id=\"empty_pitcher\" style=\"display:none;\" class=\"empty_bench_pitcher\"><td>Bench</td><td><em>EMPTY</em><br>&nbsp;</td><td> </td><td></td><td></td></tr>         \
            {.end}                                                                                         \
         </tbody> </table>" );

  function createRosterMatchupTable() {
    var mut = plt.expand(playerList);
    document.getElementById("roster").innerHTML = mut;
    $("tr.player").draggable( {
        helper: "clone",
        start:  startDrag,
        stop: stopDrag
    });
  }

  function enableDropOnEligiblePositions(positions) {
      for ( var i = 0; i < positions.length; i++) {
        console.log(" Enable Drop On Position: " + positions[i]);
        $("#roster_matchups tr." + positions[i]).each( function(index, elt) {
              $(this).droppable({
                  drop: dropPlayer
              } );
              $(this).addClass("valid_roster_move_row");
          } );
      }
  }

  function enableDropOnEligiblePlayers( players, id, pos, tr_offset) {
      for (var i = 0; i < players.length; i++ ) {
          //console.log("Player: " + players[i].name + " eligible: " + players[i].eligible.toString());
          if ( players[i].player.eligible.indexOf(pos) != -1 ) {
              console.log("Row: " + i + " Player: " + players[i].player.name + " is eligible.");
              trow = i + tr_offset;
              if(players[i].player.id == id) {
                  $("#roster_matchups tr").eq(trow).addClass("selected_roster_row");
              } else {
                  $("#roster_matchups tr").eq(trow).droppable({
                      drop: dropPlayer
                  } );
                  $("#roster_matchups tr").eq(trow).addClass("valid_roster_move_row");
              }
          }
      }
  }

  function enableDropOnEmptyBenchBatter( ) {
    var emptyBenchSlot = $("#roster_matchups tr.empty_bench_batter");
    emptyBenchSlot.removeAttr("style");
    emptyBenchSlot.droppable( { drop: dropPlayer
                              });
    emptyBenchSlot.addClass("valid_roster_move_row");
  }

    function enableDropOnEmptyBenchPitcher( ) {
        var emptyBenchSlot = $("#roster_matchups tr.empty_bench_pitcher");
        emptyBenchSlot.removeAttr("style");
        emptyBenchSlot.droppable( { drop: dropPlayer
        });
        emptyBenchSlot.addClass("valid_roster_move_row");
    }

    function startDrag(event, ui) {
      c.tr = this;
      c.helper = ui.helper;
      dragId = $(this).attr('id');

      var section = teamRoster[dragId].section;
      var idx = teamRoster[dragId].idx;
      var movePos = teamRoster[dragId].roster_pos;
      console.log("id: " + dragId + " section: " + section + "idx: " + idx + " Position: " + movePos);
      if (section == "batters") {
        enableDropOnEligiblePositions(teamRoster[dragId].eligible);
        enableDropOnEligiblePlayers(playerList.bench_batters, dragId, movePos, playerList.batters.length + 3);
        enableDropOnEmptyBenchBatter();
      } else if (section == "bench_batters") {
         // enable drop on all positions this player is eligible for
         enableDropOnEligiblePositions(teamRoster[dragId].eligible);
      } else {
          //enableDropOnEligiblePlayers(playerList.pitchers, dragId, movePos,
          //        playerList.batters.length + playerList.bench_batters.length + 6);
          enableDropOnEligiblePlayers(playerList.bench_pitchers, dragId, movePos,
                  playerList.batters.length + playerList.bench_batters.length +
                          playerList.pitchers.length + 7);
          enableDropOnEmptyBenchPitcher();
      }
  }

  function stopDrag(event, ui) {
      var stopId = $(this).attr('id');
      console.log("dragging stopped.  dragId: " + dragId + "stopRow: " + stopId)
      $("#roster_matchups").remove();
      createRosterMatchupTable();
  }

  function swapMovedPlayers( theMove ) {
      teamRoster[theMove.dropId].section = theMove.fromSection;
      teamRoster[theMove.dropId].idx = theMove.fromIdx;
      teamRoster[theMove.dropId].roster_pos = theMove.fromPos;
      playerList[theMove.fromSection][theMove.fromIdx].player = teamRoster[theMove.dropId];

      teamRoster[theMove.dragId].section = theMove.toSection;
      teamRoster[theMove.dragId].idx = theMove.toIdx;
      teamRoster[theMove.dragId].roster_pos = theMove.toPos;
      playerList[theMove.toSection][theMove.toIdx].player = teamRoster[theMove.dragId];
  }

  function moveFromPlayerBenchToPlayer(theMove) {
      teamRoster[theMove.dragId].section = theMove.toSection;
      teamRoster[theMove.dragId].idx = theMove.toIdx;
      teamRoster[theMove.dragId].roster_pos = theMove.toPos;
      playerList[theMove.toSection][theMove.toIdx].player = teamRoster[theMove.dragId];

      // from entry in player list is set as empty position
      playerList[theMove.fromSection][theMove.fromIdx].empty = true;
      playerList[theMove.fromSection][theMove.fromIdx].player = emptySlotPlayer;

      idx = playerList["bench_batters"].length;
      teamRoster[theMove.dropId].section = "bench_batters";
      teamRoster[theMove.dropId].idx = idx;
      playerList["bench_batters"].push( { empty: false,
                                           position: "Bench",
                                           player: teamRoster[theMove.dropId] });
  }

  function moveActivePlayerToEmptyPosition(theMove) {
    fromPlayer = teamRoster[theMove.dragId];
    fromPlayer.section = theMove.toSection;
    fromPlayer.idx = theMove.toIdx;
    fromPlayer.roster_pos = theMove.toPos;
    playerList[theMove.toSection][theMove.toIdx].player = fromPlayer;

    // from entry in player list is set as empty position
    playerList[theMove.fromSection][theMove.fromIdx].empty = true;
    playerList[theMove.fromSection][theMove.fromIdx].player = emptySlotPlayer;

  }

  function moveActivePlayerToBench(theMove) {
      // from entry in player list is set as empty position
      playerList[theMove.fromSection][theMove.fromIdx].empty = true;
      playerList[theMove.fromSection][theMove.fromIdx].player = emptySlotPlayer;

      idx = playerList["bench_batters"].length;
      teamRoster[theMove.dragId].section = "bench_batters";
      teamRoster[theMove.dragId].idx = idx;
      playerList["bench_batters"].push( { empty: false,
                                          position: "Bench",
                                          player: teamRoster[theMove.dragId] });
  }

    function dropPlayer(event, ui) {
      var dropId= $(this).attr('id');
      if ( $(this).hasClass("player") ) {
        var theMove = { dropId: dropId,
                        dragId: dragId,
                        toSection: teamRoster[dropId].section,
                        toIdx: teamRoster[dropId].idx,
                        toPos: teamRoster[dropId].roster_pos,
                        fromSection: teamRoster[dragId].section,
                        fromIdx: teamRoster[dragId].idx,
                        fromPos: teamRoster[dragId].roster_pos };

          console.log("DRAG: id: " + dragId + " section: " + theMove.fromSection + " idx: " + theMove.fromIdx + "  Position: " + theMove.fromPos);
          console.log("DRAG: id: " + dropId + " section: " + theMove.toSection + " idx: " + theMove.toIdx + "  Position: " + theMove.toPos);

        // if moving player to/from bench the drop section must be valid so just
        // swap the players
        if ( /bench/.test(theMove.toSection) || /bench/.test(theMove.fromSection)) {
            swapMovedPlayers(theMove);
        } else if (/batters/.test(theMove.toSection)) {
          // moving active batter to new position, if player at that position is eligible at moved
          // players postion then swap, otherwise move player dropped on to the bench
            if ( teamRoster[dropId].eligible.indexOf(theMove.fromPos) != -1 ) {
                console.log("Player: " + teamRoster[dropId].name + " is eligible at " + theMove.fromPos);
                swapMovedPlayers(theMove);
            } else {
                moveFromPlayerBenchToPlayer(theMove);
            }
        }
      } else {
          var theMove = { dropId: dropId,
              dragId: dragId,
              fromSection: teamRoster[dragId].section,
              fromIdx: teamRoster[dragId].idx,
              fromPos: teamRoster[dragId].roster_pos };
          if ( $(this).hasClass("empty") ) {
              console.log("Moving player to empty position");
              moveActivePlayerToEmptyPosition(theMove);
          } else if ( $(this).hasClass("empty_bench_batter")) {
              console.log("Moving player to bench");
              moveActivePlayerToBench(theMove);
          }
      }

      $(c.helper).remove();
      $("#roster_matchups").remove();
      createRosterMatchupTable();
  }


  $(document).ready(function() {
      createRosterMatchupTable();

    } );

</script>

<header>
  <table>
    <tr><td> <%= image_tag("inside_edge_logo.jpg", :size => '75x75', :alt => 'Inside Edge Scouting Service') %></td>
      <td><h1>Inside Edge Matchup Analysis</h1></td></tr>
  </table>
  <hr/>
</header>

<div class="teams">
  <table class="league_team_links">  <tr>
    <% @teams.each do |team| %>
        <td><a href="<%= "/matchup/#{team["id"]}?access_token=#{@access_token}?response_format=json" %>"><%= team["name"] %></a></td>
    <% end %>
  </tr>
  </table>
</div>
<div id='players' class="player_matchups">
  <table class="roster_matchups_team">
    <tr><td><h3><%= "#{@roster[0]["name"]}" %></h3></td><td><h3>Matchups For Game Day: 6/8/2012</h3></td></tr>
  </table>

<div id='roster' class="player_matchups">

</div>

</div>